@media(min-width:1200px) {
    .navbar-nav,.navbar-toggler {
    visibility: hidden;
    }
    }

@media(min-width:992px) and (max-width:1999px) {
    .navbar-nav,.navbar-toggler {
    visibility: hidden;
    }
    }

@media(min-width:768px) and (max-width:991px) {
        .navbar-nav,.navbar-toggler {
            visibility: visible;
        }
        .container{
            width:100%;
        }
        }

@media(max-width:767px) {
    .navbar-nav {
    visibility: visible;
    max-width: 100%;
    }
    li.nav-items{
        text-align: center;
        border:1px solid black;
        background-color: rgb(143, 113, 224);
        margin:0px;
        padding: 0px;
        color:white;
        width:100%;
    }
    .container{
        width:85%;
    }
}
    a.nav-link{
        color:white;
        font-size: 20px;
    }
    div.container{
        border:2px solid black;
        padding:10px;
        max-width:99%;
        background-color: rgb(71, 71, 71);
        margin-top: 10px;;
    }
    #title{
        font-size: 30px;
        margin-bottom:0px;
    }
    p{
        color:white;
    }
    h1.text-center{
        padding:10px;
        margin-bottom: 20px;
    }
    .end{
        text-align: right;
        margin-right:10px;
    }
    div.collapse{
        max-width:150%;
    }
    .container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }
    .nav-link{
        color:white;
    }
    .container{
        height:800px;
    }
    .end{
        position:relative;
        text-align-last:auto;
    }